@mixin Flexbox {
    display: flex;
    align-items: center;
}
@mixin Flexbox_BoxSizing {
    @include Flexbox;
    box-sizing: border-box;
}
@mixin Flexbox_Center {
    @include Flexbox;
    justify-content: center;
}