@use '../../modules/mixins';
@use '../../modules/ColorPalette';
@use '../../modules/variable';

.BookCard {
    @include mixins.Flexbox;
    flex-direction: column;
    max-width: 400px;
    max-height: 400px;
    width: 50%;
    height: 100%;
    margin: 0 10px;
    //background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    &Image {

    }

    &Details{
        width: 100%;
        &_title{
            font-weight: bold;
        }

        &_authors{
            font-style: italic;
            font-weight: lighter;
        }

        &_description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.title {
    font-weight: bold;
    font-size: 1.5em;
}

.author {
    
}

.description {
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    display: block;
    max-height: 3.6em;
    line-height: 1.7em;
    overflow: hidden;
}