@use '../../modules/ColorPalette' as Color; 
@use '../../modules/variable';
@use '../../modules/mixins';


.Container {
    @include mixins.Flexbox_BoxSizing;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    //max-width: 1280px;
    
}
.Empty {
    height: 100%;
    width: 100%;
    margin: 15em;
    text-align: center;
}