$onyx: #393d3f; 
$white:#E9ECEF;
$silver:#C6C5B9;
$steel-teal:#62929E;
$dark-electric-blue:#546A7B;

.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 0;
    @media screen and (max-width: 767px) {
        width: 20rem; 
    }
    @media screen and (min-width: 768px) {
        width: 35rem; 
    }
    &:focus {
        
    }
   
    & input {
        border: none;
        width: 80%;
        height: 3rem;
        border-radius: 5px 0 0 5px;
        padding:0 0.5rem;
        font-size: 1.2rem;
        // padding: 0.5rem; 
        &:focus {
            outline: none;
            &::placeholder {
                color: transparent;
            }
        }
        
    }

    & button {
        background-color: $steel-teal;
        color: white;
        border-radius: 0 5px 5px 0;
        width: 20%;
        height: 3rem;
        margin-left: auto;
        border: none;

        &:active{
            background-color: $dark-electric-blue;
            color: white;
        }
    }
}
