@use '../../modules/mixins';
@use '../../modules/ColorPalette';
@use '../../modules/variable';

.SearchBar {
    // Set as flex
    @include mixins.Flexbox_Center;

    //Set sizing
    width: 100%;
    height: 15vh;

    &Content {
        // Set as flex
        @include mixins.Flexbox_Center;
        border-radius: 40px;
        width: 80%;
        max-width: 700px;
        height: 50%;
        //border: 1px solid ColorPalette.$dark;
        padding: 0 10px;
        background-color: white;
        
        &:focus-within {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: all .25s ease-in-out; 
            background-color: #2093d5;
            
        }
        &Input {
            @include mixins.Flexbox_Center;

            background: transparent;
            padding: 0 10px;
            width: 90%;
            //height: 95%;
            outline: none;
            border: none;
            transition: all .25s ease-in-out; 
            &:focus {
                &::-webkit-input-placeholder {
                    color: transparent;
                    -webkit-transition: color 0.2s ease;
                    transition: all .25s ease-in-out; 
                }
               font-size: 1.4em;
               color: white;
            }

            &:focus + button {
                transition: all .25s ease-in-out; 
               font-size: 1.2em;
            }
            
            
        }
    
        &Button {
            @include mixins.Flexbox_Center;
            background: transparent;
            box-sizing: border-box;
            border: none;
        
            & img {
                width: variable.$mini;
                height: variable.$mini;
            }
        }
    }

    /* Set style for children */
    
}
